// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | VARIABLES
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | · IMPORT
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----

@keyframes blink{
  0%{opacity: 1}
  100%{opacity: 0.5}
}

@import (less) "reset.css";
@import (less) "grid.css";
@mobile: ~ "only screen and (max-width: 586px)";

@seconds: 0.25s;
@ease: ~ "cubic-bezier(.23,1,.32,1)";
@animation: @seconds @ease;

// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | · COLORS
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----

@background:  #111111;

@white:	      #FFFFFF;
@black:		    #000000;
@grey:		    #999999;
@grey-dark:		darken(#999999, 30);
@grey-light:  #EEEEEE;
@purple:      #9D77FC;

@primary:    @purple;

// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | · FONTS
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
@import url('https://fonts.googleapis.com/css?family=Poppins:500|Domine');
@font: 'Poppins', -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial, sans-serif;
@font2: 'Domine', serif;

// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | GLOBAL
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
*, *:before, *:after{box-sizing: border-box; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {background: @background; font-size: 16px; line-height: 23px; font-family: @font; color: @black; text-rendering: optimizeSpeed; font-weight: 400; margin: 0; border: 0; letter-spacing: 0.04em; word-spacing: 0.001em; -webkit-font-smoothing: antialiased; -moz-osx-fontsmoothing: grayscale; transition: opacity @ease; font-family: @font;

  &.overflow2{overflow: hidden;}

}

.module{padding: 0 calc(~"1.5rem * 2"); position: relative; margin: auto;
  @media @mobile{padding-left: 25px; padding-right: 25px;}
}

.row {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding:  0px calc((1.5rem * 2) - 2%);
  @media @mobile{
    padding: 0px 15px;
  }
}

nav#menu{
  position: fixed; top: 0; left: 0; right: 0; width: 100%; height: auto; transform: translateY(-50px); z-index: 99999999999; color: @white; padding: 10px 0;
  background-image: linear-gradient(to top, fade(@black, 0), @black);  transition: transform @animation;
 display: none;
  li{list-style: none; display: inline-block; padding: 0; font-size: 12px; text-transform: uppercase; letter-spacing: 2px; margin-right: 15px;}

  &.is-visible{
    transform: translateY(0px);
  }

}


#page{overflow: hidden; opacity: 0; transition: opacity @ease;
  &.is-loaded{
    opacity: 1;
  }
}

img{display: block; width: 100%;}

// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | HEADER
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----

.header{ padding: 0px 0; z-index: -10; position: fixed; top: 0; bottom: 0; left: 0; right: 0;

  .video{position: absolute; height: 100vh; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; align-content: center; justify-content: center;
    &_iframe{padding-bottom: 45%; position: relative; width: 80vw;
      @media @mobile{height: 100vh; padding-bottom: 0; width: 100vw;}
    }
    video { box-shadow: 0px 10px 100px @black;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    }
  }

  .module{display: flex; align-items: center; align-content: center; min-height: 100vh; justify-content: center; flex-direction: column;}
  &__logo{ top: 0;
    img{width: 100px; height: auto;}
  }

  &__title{width: 100%; .animation(); text-align: center;
    img{ height: auto; width: 100%;}
    &.is-animated{

    }
  }

  &__subtitle{ .animation(); padding-top: 30px;
    color: @white; font-family: @font; letter-spacing: 2px; text-transform: uppercase; position: relative; font-size: 14px;
    @media @mobile{padding-top: 50vh;}

  }

}



#page-scroll{
  position: relative; margin-top: 100vh; z-index: 1000; box-shadow: 0px 0px 100px @black; width: 100%; background-color: @background; margin-bottom: 60vh; overflow: hidden; min-height: 100vh; padding-bottom: 0px; min-height: 100vh; transition: width @animation;

  @media @mobile{position: relative; margin-bottom: auto; top: auto; margin-top: 100vh;}

  // &.is-resized{
  //   width: calc(100% - 40px);
  // }

}



.map{

  .legend{position: absolute; width: 70px; height: auto; right: 0; top: 0; opacity: 0; transition: opacity @animation;
    &.is-visible{opacity: 1}
  }

  .info{border-top: 1px solid @grey-dark; border-bottom: 1px solid @grey-dark; margin-top: 50px; padding: 25px 0; overflow: hidden; opacity: 0; transition: opacity @animation;
    &.is-visible{opacity: 1;}
    .country{font-size: 24px; color: @white; text-transform: uppercase; float: left;}
      .value{font-size: 10px; text-transform: uppercase; line-height: 16px;color: @grey; float: right; text-align: right;
          .perc{font-size: 24px; color: @white; text-transform: uppercase; display: block; display: block; margin-bottom: 5px; color: @primary;}
      }

  }

  .row{display: flex; align-items: center; align-content: center;}

  #map{ margin-top: 0px;
    &.off{
      g, path{opacity: 0.75;}
    }

    .animated{ g, path{opacity: 1;}
      animation: blink 1s infinite alternate;
    }

    .st0 {
      fill: #111111;
    }

    .st1 {
      opacity: 0.54;
    }

    .st2 {
      fill: #9D77FC;
    }

    .st3 {
      fill: none;
      stroke: #111111;
      stroke-width: 0.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }

    .st4 {
      opacity: 0.45;
    }

    .st5 {
      opacity: 0.38;
    }

    .st6 {
      opacity: 0.89;
    }

    .st7 {
      opacity: 0.61;
    }

    .st8 {
      opacity: 0.5;
    }

    .st9 {
      opacity: 0.56;
    }

    .st10 {
      opacity: 0.65;
    }

    .st11 {
      opacity: 0.59;
    }

    .st12 {
      opacity: 0.74;
    }

    .st13 {
      opacity: 0.7;
    }

    .st14 {
      opacity: 0.78;
    }

    .st15 {
      opacity: 0.95;
    }

    .st16 {
      opacity: 0.94;
    }

    .st17 {
      opacity: 0.9;
    }

    .st18 {
      opacity: 0.84;
    }

    .st19 {
      opacity: 0.81;
    }

    .st20 {
      opacity: 0.67;
    }

    .st21 {
      opacity: 0.75;
    }

    .st22 {
      opacity: 0.86;
    }

    .st23 {
      opacity: 0.96;
    }

    .st24 {
      opacity: 0.63;
    }

    .st25 {
      opacity: 1;
    }

    .st26 {
      fill: #333;
    }

    g, path{transition: opacity @animation, fill @animation;}

    .hide{
      opacity: 0.1 !important;
    }
  }
}

// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | CHAPTER
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
.chapter{padding: 100px 0;  margin: 50px auto; position: relative;  text-align: center; color: @white;
  .row{
    .col-12{  border-bottom: 1px solid @grey-dark; border-top: 1px solid @white; padding: 50px 0;
    }
    h1{  font-size: 5rem; line-height: 6rem; font-weight: 500; color: @white; text-transform: uppercase;
      @media @mobile{font-size: 3rem; line-height: 3.5rem;}
    }
        .number{color: @primary;  padding: 0px 0 5px; font-family: @font2; display: none;}

    p{  font-size: 14px; font-family: @font2; line-height: 24px; color: @grey; margin-bottom: 25px; max-width: 50%; margin: 25px auto;

      @media @mobile{max-width: 100%; }

      &:last-child{margin-bottom: 0;}
    }


  }

}



// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | BLOCK
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
.block{z-index: 100; width: 100%;
  .divider{margin: 100px calc((1.5rem * 10));
    border-top: 1px solid @grey-dark;
    @media @mobile{
      margin: 60px 15px;
    }
  }

  h1{
    font-size: 1.75rem; line-height: 2.5rem; font-family: @font; text-transform: uppercase; margin-bottom: 30px; color: @primary;
  }

  p{
    font-size: 14px; font-family: @font2; line-height: 24px; color: @grey; margin-bottom: 25px;
    &:last-child{margin-bottom: 0;}

    &.meaning, &.datasource{font-size: 11px; font-family: @font; text-transform: uppercase; line-height: 15px; color: @grey-dark; margin-bottom: 15px;
      a{border-bottom: 1px solid @grey-dark; transition: border @animation;
        &:hover{color: @primary; border-color: @primary;}
      }
    }

  }

}


// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | DEFINITION
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
.alluvional{
  .box, .box2{position: absolute; padding: 0px 0px 0px 0; color: @white; min-width: 120px; opacity: 0; transition: opacity @animation; background-color: fade(@black, 50); padding: 15px;
    &.is-visible{opacity: 1}
    div{font-size: 10px; text-transform: uppercase; line-height: 16px; color: @grey; display: flex; align-items: center; justify-content: space-between;
      span:last-child{color: @white;}
    }
  }

  .legend{position: absolute; bottom: 20px; right: 0;
    @media @mobile{position: relative; bottom: auto; right: 0; display: none;}
  }

  .row{ display: flex; align-items: flex-end; align-content: flex-end;
      padding-bottom: 50px;
      &:last-child{padding-bottom: 0;}
  }

  h1{
    margin-bottom: 15px;
  }

  img{float: right;
      max-width: 100px;
  }

  svg{
    max-height: 95vh;
      .cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17,.cls-18,.cls-19,.cls-20,.cls-21,.cls-22,.cls-23,.cls-24,.cls-25,.cls-26,.cls-27,.cls-28,.cls-29,.cls-30,.cls-31,.cls-32,.cls-33,.cls-34,.cls-35,.cls-36,.cls-37,.cls-38,.cls-39,.cls-40{transition: opacity @animation;}


      #new{

        .is-visible{opacity: 1 !important;}

        #numbers_1_, #numbers_2_, #numbers_3_, #numbers_4_, #numbers_5_, #numbers_6_, #numbers_7_, #numbers_8_, #numbers {
          opacity: 0;
        }

        .st0{fill:#111111;}
      	.st1{fill:none;stroke:#FFFFFF;stroke-width:2;}
      	.st2{fill:#FFFFFF;}
      	.st3{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;}
      	.st4{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-dasharray:0,9.9417;}
      	.st5{enable-background:new    ;}
      	.st6{opacity:0.3;fill:#9D77FC;stroke:#111111;stroke-width:2;stroke-miterlimit:10;enable-background:new    ;}
      	.st7{fill:#9D77FC;fill-opacity:0.4;stroke:#111111;stroke-width:2;stroke-miterlimit:10;}
      	.st8{fill:#9D77FC;stroke:#111111;stroke-width:2;stroke-miterlimit:10;}
      	.st9{fill:none;stroke:#9377F2;stroke-width:1.6594;stroke-opacity:0.4;}
      	.st10{fill:none;stroke:#9377F2;stroke-width:0.5531;stroke-opacity:0.4;}
      	.st11{fill:none;stroke:#9377F2;stroke-width:1.1063;stroke-opacity:0.4;}
      	.st12{fill:none;stroke:#9377F2;stroke-width:2.2125;stroke-opacity:0.4;}
      	.st13{fill:none;stroke:#9377F2;stroke-width:3.3187;stroke-opacity:0.4;}
      	.st14{fill:none;stroke:#9377F2;stroke-width:5.5313;stroke-opacity:0.4;}
      	.st15{fill:none;stroke:#9377F2;stroke-width:4.425;stroke-opacity:0.4;}
      	.st16{fill:none;stroke:#9377F2;stroke-width:2.7656;stroke-opacity:0.4;}
      	.st17{fill:none;stroke:#9377F2;stroke-width:7.7438;stroke-opacity:0.4;}
      	.st18{fill:none;stroke:#9377F2;stroke-width:6.0844;stroke-opacity:0.4;}
      	.st19{fill:none;stroke:#9377F2;stroke-width:3.8719;stroke-opacity:0.4;}
      	.st20{fill:none;stroke:#9377F2;stroke-width:13.2751;stroke-opacity:0.4;}
      	.st21{fill:none;stroke:#9377F2;stroke-width:14.9344;stroke-opacity:0.4;}
      	.st22{fill:none;stroke:#9377F2;stroke-width:12.1688;stroke-opacity:0.4;}
      	.st23{fill:none;stroke:#9377F2;stroke-width:12.7219;stroke-opacity:0.4;}
      	.st24{fill:none;stroke:#9377F2;stroke-width:10.5094;stroke-opacity:0.4;}
      	.st25{fill:none;stroke:#9377F2;stroke-width:9.4032;stroke-opacity:0.4;}
      	.st26{fill:none;stroke:#9377F2;stroke-width:18.2532;stroke-opacity:0.4;}
      	.st27{fill:none;stroke:#9377F2;stroke-width:17.7001;stroke-opacity:0.4;}
      	.st28{fill:none;stroke:#9377F2;stroke-width:11.6156;stroke-opacity:0.4;}
      	.st29{fill:none;stroke:#9377F2;stroke-width:7.1906;stroke-opacity:0.4;}
      	.st30{fill:none;stroke:#9377F2;stroke-width:9.9563;stroke-opacity:0.4;}
      	.st31{fill:none;stroke:#9377F2;stroke-width:16.0407;stroke-opacity:0.4;}
      	.st32{fill:none;stroke:#9377F2;stroke-width:8.85;stroke-opacity:0.4;}
      	.st33{fill:none;stroke:#9377F2;stroke-width:40.3782;stroke-opacity:0.4;}
      	.st34{fill:none;stroke:#9377F2;stroke-width:38.1658;stroke-opacity:0.4;}
      	.st35{fill:none;stroke:#9377F2;stroke-width:21.572;stroke-opacity:0.4;}
      	.st36{fill:none;stroke:#9377F2;stroke-width:17.1469;stroke-opacity:0.4;}
      	.st37{fill:none;stroke:#9377F2;stroke-width:22.6782;stroke-opacity:0.4;}
      	.st38{fill:none;stroke:#9377F2;stroke-width:45.9095;stroke-opacity:0.4;}
      	.st39{fill:none;stroke:#9377F2;stroke-width:25.4438;stroke-opacity:0.4;}

      }

  }

  .off{

  .cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17,.cls-18,.cls-19,.cls-20,.cls-21,.cls-22,.cls-23,.cls-24,.cls-25,.cls-26,.cls-27,.cls-28,.cls-29,.cls-30,.cls-31,.cls-32,.cls-33,.cls-34,.cls-35,.cls-36,.cls-37,.cls-38,.cls-39,.cls-40{opacity: 0.1;}

  }

  .blink{
    .cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17,.cls-18,.cls-19,.cls-20,.cls-21,.cls-22,.cls-23,.cls-24,.cls-25,.cls-26,.cls-27,.cls-28,.cls-29,.cls-30,.cls-31,.cls-32,.cls-33,.cls-34,.cls-35,.cls-36,.cls-37,.cls-38,.cls-39,.cls-40{animation: blink infinite alternate 1s; }
  }


  @keyframes blink{
    0%{opacity: 1}
    100%{opacity: 0.5}
  }



  g{overflow: hidden; transition: opacity @animation;
    path, g, rect{}

  &.bright{
    .cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17,.cls-18,.cls-19,.cls-20,.cls-21,.cls-22,.cls-23,.cls-24,.cls-25,.cls-26,.cls-27,.cls-28,.cls-29,.cls-30,.cls-31,.cls-32,.cls-33,.cls-34,.cls-35,.cls-36,.cls-37,.cls-38,.cls-39,.cls-40{stroke-opacity: 0.6;}
  }

    &.hide{
      path, g, rect{opacity: 0.2;}
    }
  }

	.cls-1{fill:#111;}.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17,.cls-18,.cls-19,.cls-2,.cls-20,.cls-21,.cls-22,.cls-23,.cls-24,.cls-25,.cls-26,.cls-27,.cls-28,.cls-29,.cls-30,.cls-31,.cls-32,.cls-33,.cls-34,.cls-35,.cls-36,.cls-37,.cls-38,.cls-39,.cls-4,.cls-40,.cls-5{fill:none;}.cls-2,.cls-4,.cls-5{stroke:#fff;stroke-width:2px;}.cls-3{fill:#fff;}.cls-4,.cls-5{stroke-linecap:round;}.cls-5{stroke-dasharray:0 9.94;}.cls-6,.cls-7,.cls-9{isolation:isolate;}.cls-7,.cls-8,.cls-9{fill:#9377f2;}.cls-7{opacity:0.3;}.cls-9{opacity:0.6;}.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-15,.cls-16,.cls-17,.cls-18,.cls-19,.cls-20,.cls-21,.cls-22,.cls-23,.cls-24,.cls-25,.cls-26,.cls-27,.cls-28,.cls-29,.cls-30,.cls-31,.cls-32,.cls-33,.cls-34,.cls-35,.cls-36,.cls-37,.cls-38,.cls-39,.cls-40{stroke:#9377f2;stroke-opacity:0.4;}.cls-10{stroke-width:1.66px;}.cls-11{stroke-width:0.55px;}.cls-12{stroke-width:1.11px;}.cls-13{stroke-width:2.21px;}.cls-14{stroke-width:3.32px;}.cls-15{stroke-width:5.53px;}.cls-16{stroke-width:4.43px;}.cls-17{stroke-width:2.77px;}.cls-18{stroke-width:7.74px;}.cls-19{stroke-width:6.08px;}.cls-20{stroke-width:3.87px;}.cls-21{stroke-width:13.28px;}.cls-22{stroke-width:14.93px;}.cls-23{stroke-width:12.17px;}.cls-24{stroke-width:12.72px;}.cls-25{stroke-width:10.51px;}.cls-26{stroke-width:9.4px;}.cls-27{stroke-width:18.25px;}.cls-28{stroke-width:17.7px;}.cls-29{stroke-width:11.62px;}.cls-30{stroke-width:7.19px;}.cls-31{stroke-width:9.96px;}.cls-32{stroke-width:16.04px;}.cls-33{stroke-width:8.85px;}.cls-34{stroke-width:40.38px;}.cls-35{stroke-width:38.17px;}.cls-36{stroke-width:21.57px;}.cls-37{stroke-width:17.15px;}.cls-38{stroke-width:22.68px;}.cls-39{stroke-width:45.91px;}.cls-40{stroke-width:25.44px;}
}



// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | DEFINITION
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----

.definition{ color: @grey; font-weight: 500; padding: 50px 0 0 0;
  .row{display: flex; align-items: center; flex-direction: row; margin-bottom: 0px;
    &:fist-child{margin-bottom: 0px;}
    &:nth-child(2n){margin-bottom: 0;}
  }

  @media @mobile{ font-size: 18px; line-height: 32px; min-height: auto;}
  &_title{font-size: 14px; color: @primary; font-weight: 300; .animation(); letter-spacing: 2px; text-transform: uppercase;}

  p, span{ font-family: @font2;  line-height: 24px; font-size: 14px;
    b{color: @white; font-family: @font2}
  }

  // span[data-scroll]{ .animation();  transition: opacity @animation, transform @animation;
  //   @media @mobile{display: inline; }
  // }

  &_text{

    @media @mobile{
      padding-bottom: 30px;
    }
  }

  // .approach{
  //   font-size: 12px; font-family: @font; text-transform: uppercase; line-height: 24px; color: @grey-dark;
  // }

  &_button{
    font-size: 12px; letter-spacing: 2px; text-transform: uppercase; cursor: pointer; border: 1px solid @grey; color: @grey; float: left; padding: 10px 20px; margin-top: 0px; box-shadow: 0px 10px 30px -15px @white; transition: opacity @animation; margin-bottom: 90px;
    &:hover{
      opacity: 0.5 !important;
    }


  }

  &_author{ .animation(); padding-bottom: 6px; color: @primary;   margin: 30px auto 30px;
    font-size: 12px; font-family: @font2; line-height: 22px;
    @media @mobile{margin: 0px auto 90px}
  }

  .note{color: @primary; }

  a{border-bottom: 1px solid fade(@grey-light, 20); transition: border @animation;
    &:hover{border-color: @primary;}
  }

}


.verbal{overflow: hidden; padding-bottom: 0px; position: relative;
  color: @grey;

  .row{display: flex; overflow: hidden; align-items: center;}

  .animation{
    animation: blink infinite alternate 1s;
  }




  &_index{
    font-size: 12px; font-family: @font2; line-height: 22px;

  }

  &_meaning, &_source{font-size: 9px; font-family: @font; text-transform: uppercase; line-height: 14px; color: @grey-dark; margin-bottom: 15px;
    a{border-bottom: 1px solid @grey-dark; transition: border @animation;
      &:hover{color: @primary; border-color: @primary;}
    }
  }

  h2{font-weight: bold; text-transform: uppercase; letter-spacing: 1px; font-family: @font; margin-top: 10px; margin-bottom: 0;
    &:first-child{margin-top: 0;}
  }


  ol{ padding: 0px 0 12px; padding-left: 20px;
    list-style: decimal-leading-zero;
  }

  &_legend{color: @white; display: flex; align-items: baseline; align-content: space-between; justify-content: space-between; padding-bottom: 15px; font-size: 14px; line-height: 20px;
    .right{text-align: right;}
  }

  &_info{position: relative;
    @media @mobile{padding-top: 50px;}
  }

  &_box{position: absolute; padding: 10px; color: @white; min-width: 120px; opacity: 0; transition: opacity @animation; background: fade(@black, 50); z-index: 99999999;
    &.is-visible{opacity: 1}
    &__title{text-transform: capitalize; border-bottom: 1px solid @white; margin-bottom: 5px;}
    &__verbal, &__noverbal{font-size: 12px; text-transform: uppercase; line-height: 16px; color: @grey; display: flex; align-items: center; justify-content: space-between;
      span:last-child{color: @primary;}
    }
  }


  #verbal{
    .cls-1,.cls-6{fill:#111; }.cls-1{stroke:#111;}.cls-1,.cls-2{stroke-width:2px;}.cls-2,.cls-7{stroke:#fff;}.cls-3{fill:#fff;}.cls-4,.cls-7{fill:none;stroke-width:10px;}.cls-4{stroke: #9d77fc; opacity: 0.1; transition: opacity @animation;} .cls-5{fill:#9d77fc; stroke: @background;}.cls-7{stroke-dasharray:20 10; stroke-width:3px;}


    .hide{
      // .cls-5{fill: @grey;}
      .cls-4{opacity: 0.02}
    }
    .active{
      .cls-4{opacity: 1!important; stroke: @primary !important;}
    }
  }
}



.long{
  .row{display: flex; align-items: center; align-content: center; justify-content: center;}

  .animation{
    animation: blink infinite alternate 1s;
  }

  svg{max-height: 115vh;

    .cls-1{fill:#111;}.cls-2,.cls-3{fill:#fff;}.cls-2{stroke:#fff;stroke-width:3px;}.cls-4,.cls-5{fill:none;}.cls-4{stroke:#999;stroke-linecap:square;stroke-linejoin:round;stroke-width:0.5px;}.cls-5{stroke:#49396f;stroke-linecap:round;stroke-miterlimit:10;stroke-width:10px;}.cls-6{isolation:isolate;}.cls-7{fill:#49396f;}

  }
  g{transition: opacity @animation;}
  .hide{opacity: 0.2;
  }
  .bright{
    .cls-5{stroke: @primary !important;}
      .cls-7{fill: @primary;}
  }


  .box{position: absolute; padding: 0px 0px 0px 0; color: @white; width: auto; opacity: 0; transition: opacity @animation; background-color: fade(@black, 50); padding: 15px;
    &.is-visible{opacity: 1}
    div{font-size: 10px; text-transform: uppercase; line-height: 16px; color: @grey; display: flex; align-items: center; justify-content: space-between;
      span:last-child{color: @white;}
    }
  }


}

.radar{
  .row{display: flex; align-items: center; align-content: center; justify-content: center;}

  .box{position: absolute; padding: 0px 0px 0px 0; color: @white; width: auto; opacity: 0; transition: opacity @animation; background-color: fade(@black, 50); padding: 15px;
    &.is-visible{opacity: 1}
    div{font-size: 10px; text-transform: uppercase; line-height: 16px; color: @grey; display: flex; align-items: center; justify-content: space-between;
      span:last-child{color: @white;}
    }
  }

  #short{max-height: 95vh;

    .animation{
      animation: blink infinite alternate 1s;
    }

    .st0 {
      fill: #111111;
    }

    .st1 {
      fill: none;
      stroke: #999999;
      stroke-width: 0.5;
      stroke-linecap: square;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }

    .st2 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 3;
    }

    .st3 {
      fill: none;
    }

    .st4 {
      fill: #FFFFFF;
    }

    g{transition: opacity @animation;}
    .st5 {
      fill: none;
      stroke: #49396F;
      stroke-width: 10;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      transition: stroke @animation;
    }

    .st6 {
      fill: #49396F;
      transition: fill @animation;
    }

    .st7 {
      enable-background: new;
    }

    .st8 {
      fill: #FCFCFC;
    }

    .hide{opacity: 0.2;
    }
    .bright{
      .st5{stroke: @primary !important;}
        .st6{fill: @primary;}
    }
  }

}

.perpetrator{
  .row{
    display: flex; align-items: center; align-content: center;

    &.reverse{
      @media @mobile{flex-direction: column-reverse;}
    }

    svg{transition: transform @animation; transform: rotate(45deg)}

    img{height: 100px; width: auto; margin-top: 50px; float: right;

      @media @mobile{float: none; margin: 50px auto;}
    }

  }
  .country{
    transition: opacity @animation;
  }
  .hide{
    opacity: 0.1;
  }

  .st0 {
    fill: transparent;
  }

  .st1 {
    fill: none;
    stroke: #393939;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: #FFFFFF;
    stroke: #989898;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }

  .st3 {
    fill: #363636;
  }

  .st4 {
    fill: none;
  }

  .st5 {
    fill: #FFFFFF;
  }

  .st6 {
    fill: #9D77FC;
  }
}


.bar{
  img{margin-bottom: 25px; max-height: 90vh; margin: auto}
}


.policies{
  .row{
    display: flex; align-items: flex-end; align-content: flex-end;
  }
  svg{margin-top: 50px; max-height: 95vh; margin: auto;

    .st0 {
      fill: #111111;
    }

    .st1 {
      fill: #FFFFFF;
    }

    .st2 {
      fill: #CBCBCB;
    }

    .st3 {
      fill: #B1B1B2;
    }

    .st4 {
      fill: #7F7F7F;
    }

    .st5 {
      fill: #666666;
    }

    .st6 {
      fill: #4E4E4E;
    }

    .st7 {
      fill: #363636;
    }

    .st8 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 0, 9.9693;
    }

    .st9 {
      opacity: 0.25;
    }

    .st10 {
      fill: #9D77FC;
    }

    .st11 {
      fill: none;
      stroke: #999999;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }

    .st12 {
      fill: none;
      stroke: #999999;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 0, 10.0097;
    }

    .st13 {
      fill: none;
      stroke: #999999;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 0, 10.0621;
    }
  }

}


.paper{ padding: 0px 0 0px 0;
  position: fixed; bottom: 0; right: 0; left: 5%; width: 90%; background-color: @white; z-index: 999999; height: 90vh; overflow: scroll; opacity: 0; visibility: hidden; transition: opacity @animation, visibility @animation, transform @animation; transform: translateY(50vh); box-shadow: 0px 0px 100px -20px @white;

  a{border-bottom: 1px solid @grey; transition: opacity @animation;
    &:hover{opacity: 0.5;}
  }

  @media @mobile{width: 95vw;
    &.is-visible{transform: translateY(5vh);}
  }

  &__overlay{position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: @background;  z-index: 99999; opacity: 0; visibility: hidden; transition: opacity @animation, visibility @animation; cursor: pointer;
    &.is-visible{
      opacity: 1; visibility: visible;
    }
  }

  &.is-visible{
    opacity: 1; visibility: visible; transform: translateY(0vh);
  }

  .row{ padding-bottom: 50px;

    .col-12{ border-bottom: 1px solid @grey-dark; border-top: 1px solid @primary; padding: 50px 0 40px;}

    .col-3{color: @grey; text-transform: uppercase; font-size: 500; font-size: 10px;
      .title{color: @primary;}
    }

    .col-9{ line-height: 2.2rem; font-weight: 500;font-size: 1.5rem;
      color: @primary; letter-spacing: 1px; font-family: @font2;
      @media @mobile{margin-top: 50px; border-bottom: 1px solid @grey; padding-bottom: 50px;}
    }

  }

  &__title{ padding: 50px 0;
    h1{ font-size: 3rem; line-height: 3.5rem; font-weight: 500; color: @primary; text-transform: uppercase;
      @media @mobile{font-size: 3rem; line-height: 3.5rem;}
    }
  }

  &__text{
  }

}



.policies{
  .box{position: absolute; padding: 0px 0px 0px 0; color: @white; width: auto; opacity: 0; transition: opacity @animation; background-color: fade(@black, 50); padding: 15px;
    &.is-visible{opacity: 1}
    div{font-size: 10px; text-transform: uppercase; line-height: 16px; color: @grey; display: flex; align-items: center; justify-content: space-between;
      span:last-child{color: @white;}
    }
  }


  svg#policies{
    .resize{stroke-width: 20px; stroke: #9d77fc;}
    .resize-fb{stroke-width: 110px; stroke: @background;}
    .resize-ig{stroke-width: 80px; stroke: @background;}

    .cls-1{fill:#111;}.cls-2,.cls-3,.cls-8,.cls-9{fill:none;stroke-miterlimit:10;}.cls-2{stroke:#999;stroke-width:0.5px;}.cls-3,.cls-8,.cls-9{stroke:#fff;}.cls-3{stroke-linecap:round;stroke-width:2px;stroke-dasharray:0 10.04; fill: @background;}.cls-4{opacity:0.25;}.cls-5{fill:#9d77fc;}.cls-6{fill:#4d4d4d;}.cls-7{fill:#fff;}.cls-8,.cls-9{stroke-width:3px;}.cls-9{stroke-dasharray:9.56 9.56;
      }
  }
}


// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | FOOTER
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
.footer{ align-items: flex-end; display: flex;
  opacity: 0; z-index: 0; position: fixed; bottom: 0vh; left: 0; right: 0; background-color: @grey; color: @background; z-index: 0; min-height: 60vh; padding: 50px 0; font-family: @font2;

  a{border-bottom: 1px solid @black; transition: opacity @animation;
    &:hover{border-color: @black; color: @black; opacity: 0.6;}
  }

  @media @mobile{position: relative; opacity: 1 !important; height: auto; height: auto; display: block; top: 0px; overflow: hidden;}

  img{max-width: 150px;}
  &.is-visible{opacity: 1}

  .row{
    display: flex;
    @media @mobile{display: block;}
  }

  .row [class^="col"]{
    @media @mobile{
      margin-bottom: 30px;
      &:last-child{margin-bottom: 0;}
    }
  }

  strong{font-size: 14px; color: @black; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; font-family: @font; border-bottom: 1px solid @black; margin-bottom: 5px; display: block; padding-bottom: 5px;}



}

.conclusion{padding: 100px 0 100px;
  .row{

  }
  .col-10{ box-shadow: 0px 25px 50px -25px @primary;
      background-color: @primary;
  }

  .col-8{
    padding: 50px;

    h1{text-align: center;}
    span{border-bottom: 1px solid @white;}

    h1, p{color: @white !important;}
  }
}


.perpetrator2{
  height: 100% !important;

  .row{
    align-items: center; align-content: center; display: flex;
  }




  svg#perpetrator2{max-height: 80vh;


    &.animation{
      animation: blink infinite alternate 1s;
    }

    [id^="numeri"]{
      opacity: 0;
      z-index: 999999999999999999;
      &.is-visible{opacity: 1 !important;}
    }

    g{transition: opacity @animation;

    }

    .hide{opacity: 0.1;}

    .st0 {
      fill: #111111;
    }

    .st1 {
      opacity: 0.15;
      fill: #9D77FC;
    }

    .st2 {
      opacity: 0.3;
      fill: #9D77FC;
    }

    .st3 {
      opacity: 0.5;
      fill: #9D77FC;
    }

    .st4 {
      opacity: 0.75;
      fill: #9D77FC;
    }

    .st5 {
      fill: #9D77FC;
    }

    .st6 {
      fill: #FDFDFF;
    }

    .st7 {
      font-family: @font;
    }

    .st8 {
      font-size: 14px;
    }

    .st9 {
      font-size: 10px;
    }

    .st10 {
      fill: #9D77FC;
      stroke: #FDFDFF;
      stroke-width: 0.5;
      stroke-miterlimit: 10;
    }

    .st11 {
      fill: none;
      stroke: #FDFDFF;
      stroke-width: 0.5;
      stroke-miterlimit: 10;
    }

    .st12 {
      fill: #FDFDFF;
      stroke: #FDFDFF;
      stroke-width: 0.5;
      stroke-miterlimit: 10;
    }

    .st13 {
      display: none;
    }

    .st14 {
      display: inline;
    }

    .st15 {
      fill: #999999;
    }

    .st16 {
      display: inline;
      fill: none;
      stroke: #999999;
      stroke-miterlimit: 10;
    }

    .st17 {
      display: inline;
      opacity: 0.15;
      fill: #9D77FC;
    }

    .st18 {
      display: inline;
      opacity: 0.3;
      fill: #9D77FC;
    }

    .st19 {
      display: inline;
      opacity: 0.5;
      fill: #9D77FC;
    }

    .st20 {
      display: inline;
      opacity: 0.75;
      fill: #9D77FC;
    }

    .st21 {
      display: inline;
      fill: #9D77FC;
    }
  }

  .legenda{width: 200px; height: auto; float: right; margin-top: 50px;}
}


.psychological{

  img{margin-top: 50px;}

  #psychological{ max-height: 70vh; margin: auto;

    &.animation{
      g[id^="country"]{
        animation: blink infinite alternate 1s;
      }
    }

    g{transition: opacity @animation;}


    .bright{
      g[id^="NUMERI"]{
        opacity: 1;
      }
    }

    .hide{
      opacity: 0.1;
    }

    .st0 {
      fill: #111111;
    }

    .st1 {
      fill: #9D77FC;
    }

    .st2 {
      fill: #FFFFFF;
    }

    .st3 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 14.0424;
      stroke-opacity: 0.4;
    }

    .st4 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 2.2771;
      stroke-opacity: 0.4;
    }

    .st5 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 6.8314;
      stroke-opacity: 0.4;
    }

    .st6 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 3.0362;
      stroke-opacity: 0.4;
    }

    .st7 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 14.4219;
      stroke-opacity: 0.4;
    }

    .st8 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 1.8976;
      stroke-opacity: 0.4;
    }

    .st9 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 5.6929;
      stroke-opacity: 0.4;
    }

    .st10 {
      fill: none;
      stroke: #FFFFFF;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 0, 10;
    }

    .st11 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 3.2;
      stroke-miterlimit: 10;
    }

    .st12 {
      fill: none;
    }

    .st13 {
      fill: #F5F5F5;
    }

    .st14 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 21.6328;
      stroke-opacity: 0.4;
    }

    .st15 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 8.729;
      stroke-opacity: 0.4;
    }

    .st16 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 3.4157;
      stroke-opacity: 0.4;
    }

    .st17 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 14.8014;
      stroke-opacity: 0.4;
    }

    .st18 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 4.5543;
      stroke-opacity: 0.4;
    }

    .st19 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 6.0724;
      stroke-opacity: 0.4;
    }

    .st20 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 0.759;
      stroke-opacity: 0.4;
    }

    .st21 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 0.3795;
      stroke-opacity: 0.4;
    }

    .st22 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 17.4581;
      stroke-opacity: 0.4;
    }

    .st23 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 3.7952;
      stroke-opacity: 0.4;
    }

    .st24 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 4.1748;
      stroke-opacity: 0.4;
    }

    .st25 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 12.9038;
      stroke-opacity: 0.4;
    }

    .st26 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 4.9338;
      stroke-opacity: 0.4;
    }

    .st27 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 6.4519;
      stroke-opacity: 0.4;
    }

    .st28 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 8.3495;
      stroke-opacity: 0.4;
    }

    .st29 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 7.5905;
      stroke-opacity: 0.4;
    }

    .st30 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 9.4881;
      stroke-opacity: 0.4;
    }

    .st31 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 18.9762;
      stroke-opacity: 0.4;
    }

    .st32 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 27.7052;
      stroke-opacity: 0.4;
    }

    .st33 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 2.6567;
      stroke-opacity: 0.4;
    }

    .st34 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 10.6267;
      stroke-opacity: 0.4;
    }

    .st35 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 39.0909;
      stroke-opacity: 0.4;
    }

    .st36 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 9.1086;
      stroke-opacity: 0.4;
    }

    .st37 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 26.5666;
      stroke-opacity: 0.4;
    }

    .st38 {
      fill: none;
      stroke: #9D77FC;
      stroke-width: 15.1809;
      stroke-opacity: 0.4;
    }

    g[id^="NUMERI"]{
      opacity: 0;
    }

  }

  .box{position: absolute; padding: 0px 0px 0px 0; color: @white; width: auto; opacity: 0; transition: opacity @animation; background-color: fade(@black, 50); padding: 15px;
    &.is-visible{opacity: 1}
    div{font-size: 10px; text-transform: uppercase; line-height: 16px; color: @grey; display: flex; align-items: center; justify-content: space-between;
      span:last-child{color: @white;}
    }
  }


}

// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
// | ANIMATIONS & FX
// + ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----

.animation(){
  transition: transform @animation, filter @animation 0.4s, opacity @animation; opacity: 0; transform: translateY(10px); filter: grayscale();
  &.is-animated{
    transform: translateY(0px); filter: none; opacity: 1;
  }
}

*[data-scroll]{
  .animation();
}

.grain{
    display: block; position: fixed; top: -50%; left: -60%; right: -60%; bottom: -60%; z-index: 99999999; pointer-events: none; background: transparent url(../img/noise.png) repeat 0 0; visibility: visible; animation: grain .5s infinite; opacity: 0; transition: opacity 1s @ease;
    &.is-loaded{opacity: .7; }
}


.overflow{
  position: fixed; top: 0px; left: 0; right: 0; background: linear-gradient(to top, fade(@black, 0), @background); height: 70px; z-index: 9999; opacity: 0; transition: opacity @animation; pointer-events: none;
  &.is-visible{
    opacity: 1;
  };
}

.overlay{
  width: 100vw;
  height: 100vh; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: @primary; opacity: 0;
}


@keyframes grain {
  0%{transform:translate(0,0)}
  10%{transform:translate(-5%,-5%)}
  20%{transform:translate(-10%,5%)}
  30%{transform:translate(5%,-10%)}
  40%{transform:translate(-5%,15%)}
  50%{transform:translate(-10%,5%)}
  60%{transform:translate(15%,0)}
  70%{transform:translate(0,10%)}
  80%{transform:translate(-15%,0)}
  90%{transform:translate(10%,5%)}
  100%{transform:translate(5%,0)}
}
